<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>订单管理</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="icon" type="image/png" href="/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
    <link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="/assets/css/amazeui.datatables.min.css"/>
    <link rel="stylesheet" href="/assets/css/app.css">
    <script src="/assets/js/echarts.min.js"></script>
    <script src="/assets/js/jquery.min.js"></script>

</head>

<body data-type="widgets">
<script src="/assets/js/theme.js"></script>
<div class="am-g tpl-g">
    <!-- 头部 -->
    <div th:replace="manage/common/header::html"></div>
    <!-- 风格切换 -->
    <div th:replace="manage/common/switch-theme::html"></div>
    <!-- 侧边导航栏 -->
    <div th:replace="manage/common/left-side-bar::html"></div>


    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">

        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <ol class="am-breadcrumb">
                                <li><a href="/manage/" class="am-icon-home">首页</a></li>
                                <li class="am-active">订单管理</li>
                            </ol>


                        </div>
                        <div class="widget-body  am-fr">

                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                                <div class="am-form-group">
                                    <div class="am-btn-toolbar">
                                        <!--<div class="am-btn-group am-btn-group-xs">-->
                                        <!--<button type="button" class="am-btn am-btn-default am-btn-success" onclick="location.href='/manage/createOrUpdateUser/1'">-->
                                        <!--<span class="am-icon-plus"></span> 新增-->
                                        <!--</button>-->
                                        <!--</div>-->
                                    </div>
                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                                <div class="am-form-group tpl-table-list-select">
                                    <select data-am-selected="{btnSize: 'sm'}">
                                        <option value="option1">订单状态</option>
                                        <option value="option2">未付款</option>
                                        <option value="option3">已付款</option>
                                        <option value="option3">已取消</option>
                                    </select>
                                </div>
                            </div>
                            <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                                <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                    <input type="text" class="am-form-field ">
                                        <span class="am-input-group-btn">
                                           <button class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search"
                                                   type="button">
                                           </button>
                                        </span>
                                </div>
                            </div>

                            <div class="am-u-sm-12">
                                <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black "
                                       id="example-r">
                                    <thead>
                                        <tr>
                                            <th>订单号</th>
                                            <th>用户</th>
                                            <th>订单状态</th>
                                            <th>收货状态</th>
                                            <th>创建订单时间</th>
                                            <th>发货时间</th>
                                            <th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="gradeX" th:each="order : ${orderList}">
                                        <td th:text="${order.id}">订单号</td>
                                        <td th:text="${order.userId}">用户</td>
                                        <td th:switch="${order.status}">
                                            <span th:case="'TO_BE_PAID'"><a class="am-badge am-badge-secondary am-round">待支付</a></span>
                                            <span th:case="'PAID'"><a class="am-badge am-badge-success am-round">已支付</a></span>
                                            <span th:case="'CANCELED'"><a class="am-badge am-badge-danger am-round">已取消</a></span>
                                        </td>
                                        <td  th:switch="${order.receiveStatus}">
                                            <span th:case="'NOT_RECEIVED'"><a class="am-badge am-badge-primary am-round">待发货</a></span>
                                            <span th:case="'DELIVERING'"><a class="am-badge am-badge-warning am-round">运送中</a></span>
                                            <span th:case="'RECEIVED'"><a class="am-badge am-badge-success am-round">已送达</a></span>
                                            <span th:case="'PAIDCANCELED'"><a class="am-badge am-badge-danger am-round">已取消</a></span>
                                        </td>
                                        <td th:text="${#dates.format(order.createTime, 'yyyy-MM-dd HH:mm:ss')}">日期</td>
                                        <td th:text="${#dates.format(order.deliveryTime, 'yyyy-MM-dd HH:mm:ss')}">日期</td>
                                        <td>
                                            <div class="tpl-table-black-operation">
                                                <a th:if="${order.status eq 'PAID' && order.receiveStatus eq 'NOT_RECEIVED'}"
                                                   th:href="@{'/order/deliveryOrder/'+${order.id}}">
                                                    <i class="am-icon-pencil"></i> 发货
                                                </a>
                                                <a th:if="${order.status eq 'PAID' && order.receiveStatus eq 'NOT_RECEIVED'}"
                                                   th:href="@{'/order/cancelOrder/'+${order.id}}"
                                                   class="tpl-table-black-operation-del"
                                                >
                                                    <i class="am-icon-trash-o"></i> 取消
                                                </a>

                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="am-u-lg-12 am-cf">

                                <div class="am-fr">
                                    <ul class="am-pagination tpl-pagination">
                                        <li class="am-disabled"><a href="#">«</a></li>
                                        <li class="am-active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li><a href="#">»</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="/assets/js/amazeui.min.js"></script>
<script src="/assets/js/amazeui.datatables.min.js"></script>
<script src="/assets/js/dataTables.responsive.min.js"></script>
<script src="/assets/js/app.js"></script>

</body>

</html>