<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link th:href="@{~/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{~/css/form.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href='@{http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800}' rel='stylesheet'
          type='text/css'>
    <script type="text/javascript" th:src="@{~/js/jquery.min.js}"></script>
    <!-- start menu -->
    <link th:href="@{~/css/megamenu.css}" rel="stylesheet" type="text/css" media="all"/>
    <script type="text/javascript" th:src="@{~/js/megamenu.js}"></script>
    <script>$(document).ready(function () {
        $(".megamenu").megamenu();
    });</script>
    <!-- end menu -->

</head>
<body>
<div th:replace="front/common/header::html"></div>
<div th:replace="front/common/category::html" ></div>
<div class="wrap bd">

    <div class="member clearfix">
        <div class="member-l">
            <div class="userimg-l">
                <a href="/user/">
                    <embed th:src="@{~/images/avatar-male.svg}" type="image/svg+xml" />
                </a>
            </div>
            <ul class="membernav">
                <li><a href="/user/">我的订单</a></li>
                <li><a href="/user/order">全部订单</a></li>
                <li class="current"><a href="/user/info">个人资料</a></li>
                <li><a href="/user/changePass">修改密码</a></li>
            </ul>
        </div>
        <div class="member-r" style="font-size: 13px;">
            <div class="dtitle">个人资料</div>
            <!--<div class="boxpd">-->
            <!--<div class="noorder">TO BE DONE</div>-->
            <!--</div>-->
            <form id="form" method="post" th:action="@{/user/changeInfo}">

                <ul class="personInfo" style="padding:15px;">
                    <li><label>姓名：</label><input type="text" name="name" class="baseInput" th:value="${currentUser.name}"></li>
                    <li><label>年龄：</label><input type="text" name="age" class="baseInput" th:value="${currentUser.age}"></li>
                    <li><label>手机：</label><input type="text" name="phone" class="baseInput" th:value="${currentUser.phone}"></li>
                    <li><label>性别：</label><select th:field="${currentUser.gender}" th:switch="${currentUser.gender}" name="gender" style="border:1px solid #CCC; height:32px;">
                            <option th:selected="selected" value="male">男</option>
                            <option th:selected="selected" value="female">女</option>
                        </select>
                    </li>
                    <li><label>邮箱：</label><input type="text" name="email" class="baseInput" th:value="${currentUser.email}"></li>
                    <li><label>收货地址：</label><input type="text" name="address" class="baseInput" th:value="${currentUser.address}"></li>
                    <li style="border-bottom:1px solid #DDD; height:20px; margin-bottom:10px;"></li>

                    <li style="margin-bottom:10px;">
                        <a class="btn_save" id="purchaseAll" onclick="submitForm()">保存</a>
                    </li>
                </ul>
            </form>

    </div>
    </div>
</div>
<div th:replace="front/common/footer::html"></div>
</body>
<script type="text/javascript">
    submitForm = () => {
        $('#form').submit();
    }
</script>
</html>