<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>Checkout</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link th:href="@{~/css/style.css}" rel="stylesheet" type="text/css" media="all" />
<link th:href='@{http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800}' rel='stylesheet' type='text/css'>
<script type="text/javascript" th:src="@{~/js/jquery.min.js}"></script>
<script type="text/javascript">
        $(document).ready(function() {
            $(".dropdown img.flag").addClass("flagvisibility");

            $(".dropdown dt a").click(function() {
                $(".dropdown dd ul").toggle();
            });
                        
            $(".dropdown dd ul li a").click(function() {
                var text = $(this).html();
                $(".dropdown dt a span").html(text);
                $(".dropdown dd ul").hide();
                $("#result").html("Selected value is: " + getSelectedValue("sample"));
            });
                        
            function getSelectedValue(id) {
                return $("#" + id).find("dt a span.value").html();
            }

            $(document).bind('click', function(e) {
                var $clicked = $(e.target);
                if (! $clicked.parents().hasClass("dropdown"))
                    $(".dropdown dd ul").hide();
            });


            $("#flagSwitcher").click(function() {
                $(".dropdown img.flag").toggleClass("flagvisibility");
            });
        });
     </script>
<!-- start menu -->     
<link th:href="@{~/css/megamenu.css}" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" th:src="@{~/js/megamenu.js}"></script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<!-- end menu -->
<!-- top scrolling -->
<script type="text/javascript" th:src="@{~/js/move-top.js}"></script>
<script type="text/javascript" th:src="@{~/js/easing.js}"></script>
   <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>
</head>
<body>
  		<div th:replace="front/common/header::html" ></div>
  		<div class="login" style="padding: 3% 0">
        	 <!--<div class="wrap">-->
				 <!--<h4 class="title">购物车空空如也</h4>-->
				 <!--<p class="cart">购物车还没有蛋糕.<br>点击<a href="/cake/"> 首页</a> 挑选吧！</p>-->
    	   	 <!--</div>-->
			<div class="span_1_of_5"></div>
			<div class="card-cart">

				<div class="mens-toolbar" style="width: 60%">
					<div class="cart">
						<table>
							<tr style="font-size: 12px;">
								<th style="width: 10%;"><input type="checkbox" class="check-out-box">全选</th>
								<th style="width: 40%;text-align: left">商品</th>
								<th style="width: 10%;">单价</th>
								<th style="width: 10%;">数量</th>
								<th style="width: 10%;">小计</th>
								<th style="width: 20%;">操作</th>
							</tr>
							<tr style="font-size: 12px;">
								<td style="width: 10%;"><input type="checkbox" style="margin-right: 25px;" class="check-out-box"></td>
								<td style="width: 40%;text-align: left"><img th:src="@{~/images/cake7.jpg}" alt="" class="avatar"></td>
								<td style="width: 10%;">27.5</td>
								<td style="width: 10%;">1</td>
								<td style="width: 10%;">27.5</td>
								<td style="width: 20%;">
									<a href="/user/register" style="display:block; color: #666;text-decoration: none;">删除</a>
									<a href="javascript:void(0);" style="display:block;margin-top:10px;color: #666;text-decoration: none;">移到我的收藏</a>
								</td>
							</tr>
						</table>
						<hr>
						<div>
							<button class="grey" style="float: right;background-color: #B08F68;border-bottom: 2px solid #746862;">结算</button>
							<div style="display: inline-block;padding:10px 8px 0 0;float: right">
								<h3 style="color: #1D1C1C">总价:￥210.5</h3>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>


		<div th:replace="front/common/footer::html" ></div>

       <script type="text/javascript">
			$(document).ready(function() {
			
				var defaults = {
		  			containerID: 'toTop', // fading element id
					containerHoverID: 'toTopHover', // fading element hover id
					scrollSpeed: 1200,
					easingType: 'linear' 
		 		};
				
				
				$().UItoTop({ easingType: 'easeOutQuart' });
				
			});
		</script>
        <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>       

</body>
</html>