<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>首页</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link th:href="@{~/css/style.css}" rel="stylesheet" type="text/css" media="all" />
<link th:href="@{~/css/portfolio.css}" rel="stylesheet" type="text/css" media="all" />
<link th:href='@{http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800}' rel='stylesheet' type='text/css'>
<script type="text/javascript" th:src="@{~/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{~/js/shuffle.js}"></script>
<script type="text/javascript" th:src="@{~/js/swiper.min.js}"></script>
	<!-- start menu -->
<link th:href="@{~/css/megamenu.css}" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" th:src="@{~/js/megamenu.js}"></script>
<script>$(document).ready(function(){$(".megamenu").megamenu();});</script>
<!-- end menu -->
<!-- top scrolling -->
<script type="text/javascript" th:src="@{~/js/move-top.js}"></script>
<script type="text/javascript" th:src="@{~/js/easing.js}"></script>
<script th:src="@{~/js/jquery.wmuSlider.js}"></script>
   <script type="text/javascript">
    // $(document).ready(() => {
    //     $('#productList').load('/cake/home');
    //     $('.example1').wmuSlider();
    // });

	</script>
</head>
<body>
	   <div th:replace="front/common/header::html" ></div>
	   <div th:replace="front/common/category::html" ></div>
       <!--首页轮播图-->
       <div class="index-banner" id="productList" th:fragment="productList">
       	  <div class="wmuSlider example1" style="height: 580px;">
			  <div class="wmuSliderWrapper" >
				  <article  th:each="banner : ${bannerList}" style="position: relative; width: 100%; opacity: 1;">
				   	<div class="banner-wrap">
					   	<div class="slider-left">
							<!--<img th:src="@{~/images/banner3.jpg}" alt=""/>-->
							<img th:src="@{'../images/'+${banner.img}+'.jpg'}" alt=""/>
						</div>
						 <div class="slider-right">
                             <h1 th:text="${banner.name}">Classic</h1>
                             <h2 th:text="${banner.category}">White</h2>
                             <!--<p>&nbsp;</p>-->
                             <!--th:onclick="'javascript:addCart(\''+${banner.id}+'\');'"-->
                             <div class="btn" ><a th:href="@{'/cake/single/'+${banner.id}}">马上购买</a></div>
						 </div>
						 <div class="clear"></div>
					 </div>
					</article>
				</div>
                <a class="wmuSliderPrev">Previous</a><a class="wmuSliderNext">Next</a>
                <ul class="wmuSliderPagination">
                	<li><a href="#" class="">0</a></li>
                	<li><a href="#" class="">1</a></li>
                	<li><a href="#" class="wmuActive">2</a></li>
                	<li><a href="#">3</a></li>
                	<li><a href="#">4</a></li>
                  </ul>

				<script>
					 $('.example1').wmuSlider();
				</script>
             </div>
	   </div>

	   <div th:replace="front/common/footer::html" ></div>
        <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>

</body>
</html>