<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>登陆</title>
    <!--<meta name="_csrf" th:content="${_csrf.token}"/>-->
    <!--<meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link th:href="@{~/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800}" rel='stylesheet'
          type='text/css'>
    <script type="text/javascript" th:src="@{~/js/jquery.min.js}"></script>
    <script th:src="@{https://cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js}"></script>

</head>
<body>
<div th:replace="front/common/header::html" ></div>
<div class="login" style="padding-top: 5%;padding-bottom: 10%;">
    <div class="wrap">
        <div class="col_1_of_login span_1_of_login">
            <p class="title" style="font-size: 25px;color: #0C0C0C;">注册</p>
            <p style="color: black;font-size: 14px;">
                注册用户专享服务:<br>
                &nbsp;&nbsp; · 使用收藏夹保存心仪商品<br>
                &nbsp;&nbsp; · 通过“个人中心”查看个人信息<br>
                &nbsp;&nbsp; · 完成购物流程更快捷<br>
            </p>
            <div class="button1">
                <a th:href="@{/cake/register}"><input type="submit" name="Submit" value="注册"></a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="col_1_of_login span_1_of_login">
            <div class="login-title">
                <p class="title" style="font-size: 25px;color: #0C0C0C;">已经有账号了？请登陆</p>
                <div class="comments-area">

                    <div th:if="${param.logout}">
                        你已经注销
                    </div>
                    <form th:action="@{/login}" method="post">
                        <p>
                            <label>账号</label>
                            <span>*</span>
                            <input type="text" name="username"><span id="tip1"></span>
                        </p>
                        <p>
                            <label>密码</label>
                            <span>*</span>
                            <input type="password" name="password"><span id="tip2"></span><span th:if="${param.error}">密码错误，请重新输入!</span>
                        </p>
                        <p id="login-form-remember">
                            <label><a href="#">忘记秘密 ? </a></label>
                        </p>
                        <p>
                            <input type="submit" value="登陆" onclick="return checkForm(this.form)">
                        </p>
                    </form>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div th:replace="front/common/footer::html"></div>
<script type="text/javascript">
    function checkForm(form) {
        if (form.username.value === '') {
            $("#tip1").html('请输入账号');
            return false;
        } else {
            $("#tip1").html('');
        }
        if (form.password.value === '') {
            $("#tip2").html('请输入密码');
            return false;
        } else {
            $("#tip2").html('');
        }
        return true;
    }
    // $(function () {
    //     var token = $("meta[name='_csrf']").attr("content");
    //     var header = $("meta[name='_csrf_header']").attr("content");
    //     $(document).ajaxSend(function (e, xhr, options) {
    //         xhr.setRequestHeader(header, token);
    //     });
    // });
</script>
<a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
</body>
</html>