<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>注册</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link th:href="@{~/css/style.css}" rel="stylesheet" type="text/css" media="all" />
<link th:href='@{http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800}' rel='stylesheet' type='text/css'>
<script type="text/javascript" th:src="@{~/js/jquery.min.js}"></script>

</head>
<body>
       <div th:replace="front/common/header::html" ></div>
       <div class="register_account" style="margin-bottom: 50px;">
          	<div class="wrap">
    	      <p class="title" style="font-size: 1.85em">注册</p>
    		   <form th:action="@{/user/register}" method="post">
    			 <div class="col_1_of_2 span_1_of_2" style="width: 400px;">
		   			 <div style="width: 350px">
						 <input style="border: 1px solid #B7B7B7" type="text" placeholder="请输入用户名" onmouseover="this.style.borderColor = '#00b7d3'" name="username" id="username"
								 onmouseout="this.style.borderColor = '#B7B7B7'">
						 <p id="tip1" style="font-size: 10px;color: #aa3333"></p>
		    			<input style="border: 1px solid #B7B7B7" type="text" placeholder="请输入手机" onmouseover="this.style.borderColor = '#00b7d3'" name="phone" id="phone"
									onmouseout="this.style.borderColor = '#B7B7B7'">
						 <p id="tip2" style="font-size: 10px;color: #aa3333"></p>
		    			<input style="border: 1px solid #B7B7B7" type="password" placeholder="请输入密码" onmouseover="this.style.borderColor = '#00b7d3'" id="pass"
									onmouseout="this.style.borderColor = '#B7B7B7'" name="pass">
		    			<input style="border: 1px solid #B7B7B7" type="password" placeholder="请确认两次密码输入一致" onmouseover="this.style.borderColor = '#00b7d3'"
									onmouseout="this.style.borderColor = '#B7B7B7'" name="repass" id="repass"><span id="tip3" style="font-size: 10px;color: #aa3333"></span>
					 </div>
		    	 </div>
				   <div class="clear"></div>
				   <div>
					   <button class="grey" id="register" onclick="return checkForm(this.form)">注册</button>
				   </div>
		    </form>
    	  </div> 
        </div>
	   <div th:replace="front/common/footer::html"></div>
</body>
<script type="text/javascript">
	$("#repass").keyup(function() {
        if($("#pass").val() != $("#repass").val()){
            $("#tip3").html('两次输入的密码不相同，请确认');
		} else {
            $("#tip3").html('');
		}
	});
    $("#username").keyup(function() {
        if($("#username").val() == ''){
            $("#tip1").html('请输入用户名');
        } else {
            $("#tip1").html('');
        }
    });
    $("#phone").keyup(function() {
        if($("#phone").val() == ''){
            $("#tip2").html('请输入手机号');
        } else {
            $("#tip2").html('');
        }
    });
    function checkForm(form) {
        if($("#username").val() == '' || $("#username").val() == null){
            $("#tip1").html('请输入用户名');
            return false;
        }
        if($("#phone").val() == '' || $("#phone").val() == null){
            $("#tip2").html('请输入手机号');
            return false;
        }
        if($("#pass").val() == '' || $("#repass").val() == ''){
            $("#tip3").html('请输入密码');
            return false;
        }
        if($("#pass").val() != $("#repass").val()){
            $("#tip3").html('两次输入的密码不相同，请确认');
            return false;
        } else {
            var username = $("#username").val();
            var password = $("#pass").val();
            var phone = $("#phone").val();
            return true;
        }
    }
</script>
</html>