<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link th:href="@{~/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{~/css/form.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href='@{http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800}' rel='stylesheet'
          type='text/css'>
    <script type="text/javascript" th:src="@{~/js/jquery.min.js}"></script>
    <script th:src="@{~/js/jquery.easydropdown.js}"></script>
    <!-- start menu -->
    <link th:href="@{~/css/megamenu.css}" rel="stylesheet" type="text/css" media="all"/>
    <script type="text/javascript" th:src="@{~/js/megamenu.js}"></script>
    <script>$(document).ready(function () {
        $(".megamenu").megamenu();
    });</script>
    <!-- end menu -->
    <script type="text/javascript">
        $(document).ready(function () {
            $(".dropdown img.flag").addClass("flagvisibility");

            $(".dropdown dt a").click(function () {
                $(".dropdown dd ul").toggle();
            });

            $(".dropdown dd ul li a").click(function () {
                var text = $(this).html();
                $(".dropdown dt a span").html(text);
                $(".dropdown dd ul").hide();
                $("#result").html("Selected value is: " + getSelectedValue("sample"));
            });

            function getSelectedValue(id) {
                return $("#" + id).find("dt a span.value").html();
            }

            $(document).bind('click', function (e) {
                var $clicked = $(e.target);
                if (!$clicked.parents().hasClass("dropdown"))
                    $(".dropdown dd ul").hide();
            });


            $("#flagSwitcher").click(function () {
                $(".dropdown img.flag").toggleClass("flagvisibility");
            });
        });
    </script>

    <script type="text/javascript" th:src="@{~/js/jquery.jscrollpane.min.js}"></script>
    <script type="text/javascript" id="sourcecode">
        $(function () {
            $('.scroll-pane').jScrollPane();
        });
    </script>
    <!-- top scrolling -->
    <script type="text/javascript" th:src="@{~/js/move-top.js}"></script>
    <script type="text/javascript" th:src="@{~/js/easing.js}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1200);
            });
        });
    </script>
</head>
<body>
<div th:replace="front/common/header::html"></div>
<div th:replace="front/common/category::html"></div>
<div class="login">
    <div class="wrap">
        <!--左侧分类栏-->
        <div class="rsidebar span_1_of_left">
            <section class="sky-form">
                <h4>蛋糕</h4>
                <div class="row row1 scroll-pane">
                    <div class="col col-4">
                        <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i></i>戚风 (20)</label>
                    </div>
                    <div class="col col-4">
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>芝士 (48)</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>慕斯 (45)</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>布丁 (45)</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>奶酪 (1)</label>
                    </div>
                </div>
                <h4>干点</h4>
                <div class="row row1 scroll-pane" style="height: 100px;">
                    <div class="col col-4">
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>饼干 (48)</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>西点 (48)</label>
                    </div>
                </div>
                <h4>下午茶</h4>
                <div class="row row1 scroll-pane">
                    <div class="col col-4">
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>奶茶 (5)</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>鲜奶 (7)</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>玛奇朵 (2)</label>
                        <label class="checkbox"><input type="checkbox" name="checkbox"><i></i>咖啡 (1)</label>
                    </div>
                </div>
            </section>
        </div>
        <!--右侧商品详情-->
        <div class="cont span_2_of_3_verify">
            <!--头部排序分页栏-->
            <!--<div class="mens-toolbar">-->
                <!--<div class="sort">-->
                    <!--<div class="sort-by">-->
                        <!--<label>Sort By</label>-->
                        <!--<select>-->
                            <!--<option value="">-->
                                <!--Popularity-->
                            <!--</option>-->
                            <!--<option value="">-->
                                <!--Price : High to Low-->
                            <!--</option>-->
                            <!--<option value="">-->
                                <!--Price : Low to High-->
                            <!--</option>-->
                        <!--</select>-->
                        <!--<a href=""><img th:src="@{~/images/arrow2.gif}" alt="" class="v-middle"></a>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="pager">-->
                    <!--<div class="limiter visible-desktop">-->
                        <!--<label>每页显示</label>-->
                        <!--<select>-->
                            <!--<option value="" selected="selected">10</option>-->
                            <!--<option value="">15</option>-->
                            <!--<option value="">30</option>-->
                        <!--</select> 条-->
                    <!--</div>-->
                    <!--<ul class="dc_pagination dc_paginationA dc_paginationA06">-->
                        <!--<li><a href="#" class="previous">Pages</a></li>-->
                        <!--<li><a href="#">1</a></li>-->
                        <!--<li><a href="#">2</a></li>-->
                    <!--</ul>-->
                    <!--<div class="clear"></div>-->
                <!--</div>-->
                <!--<div class="clear"></div>-->
            <!--</div>-->
            <!--商品详情-->
            <div class="box1">
                <div class="prolist">
                    <ul>
                        <li class="clearfix">
                            <div class="imgs">
                                <a href="/cake/" target="_blank">
                                    <img th:src="@{~/images/img1.jpg}" alt="" width="200">
                                </a>
                            </div>
                            <div class="infos">
                                <h2>
                                    <a href="/cake/" target="_blank">草莓拿破仑 Strawberry Napoleon Cake</a>
                                </h2>
                                <div class="desc">草莓鲜芝士微甜细腻，伊斯尼淡奶油藏在鲜草莓身后，4809层酥皮、配搭清爽甜美的鲜草莓；层层美味，每一口都惊喜不断。顿时，弥漫唇齿之间……<br>Strawberry fresh cheese is slightly sweet and delicate, the cream is hidden behind the fresh strawberries, 4809 layers of crisp skin, with fresh and sweet fresh strawberries; The layers are delicious, each one pleasantly surprised. Suddenly, between the lips and teeth...</div>
                                <div class="buy clearfix">
                                    <div class="btn_buy">
                                        <a href="/cake/" target="_blank">
                                            <!--<i class="iconfont"></i>立即购买-->
                                            立即购买
                                        </a>
                                    </div>
                                    <div class="price">￥198.00 / 1磅</div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div th:replace="front/common/footer::html"></div>
<script type="text/javascript">
    $(document).ready(function () {
        var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
        };
        $().UItoTop({easingType: 'easeOutQuart'});
    });
</script>
<a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>

</body>
</html>