<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link th:href="@{~/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{~/css/form.css}" rel="stylesheet" type="text/css" media="all"/>
    <link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
    <link th:href='@{http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800}' rel='stylesheet'
          type='text/css'/>
    <script type="text/javascript" th:src="@{~/js/jquery.min.js}"></script>
    <!-- top scrolling -->
    <script type="text/javascript" th:src="@{~/js/move-top.js}"></script>
    <script type="text/javascript" th:src="@{~/js/easing.js}"></script>
    <script type="text/javascript" th:src="@{~/js/jquery.jscrollpane.min.js}"></script>
    <!-- start menu -->
    <link th:href="@{~/css/megamenu.css}" rel="stylesheet" type="text/css" media="all"/>
    <script type="text/javascript" th:src="@{~/js/megamenu.js}"></script>
    <script>$(document).ready(function () {
        $(".megamenu").megamenu();
        $(function () {
            $('.scroll-pane').jScrollPane();
        });
    });</script>
    <!-- end menu -->
    <script type="text/javascript">
        var batchCategory = new Map();
        var queryCategory = [];
        $(document).ready(() => {
            let init = [];
            init.push("11");
            init.push("12");
            handleCategoryArray(init);
        });
        searchProduct = (query) => {
            $('#productList').load('/cake/searchProduct', {name: query});
        };

        function handleCategoryArray(arr) {
            arr.forEach( e => {
                batchCategory.set(e, true);
            });
            searchByCategory(batchCategory);
        }

        function handleCategory(category, checked) {
            batchCategory.set(category, checked);
            searchByCategory(batchCategory);
        }

        searchByCategory = (batchCategory) => {
            queryCategory = [];
            batchCategory.forEach((checked, category) => {
                if (checked) {
                    queryCategory.push(category);
                }
            });
            $('#productList').load('/cake/searchByCategory', {queryCategory: queryCategory.toString()});
        };

    </script>
</head>
<body>
    <div th:replace="front/common/header::html"></div>
    <!--菜单栏-->
    <div class="header-bottom">
        <div class="wrap">
            <!-- start header menu -->
            <ul class="megamenu skyblue">
                <li style="border: none;"><a class="color3" href="/cake/">首页</a></li>
                <li style="border: none;" class="active grid"><a class="color2" href="#">蛋糕</a>
                    <div class="megapanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <h4><a href="/cake/">戚风</a></h4>
                                    <ul>
                                        <li><a href="/cake/">原味戚风</a></li>
                                        <li><a href="/cake/">北海道戚风</a></li>
                                        <li><a href="/cake/">阿妮塔戚风</a></li>
                                        <li><a href="/cake/">低油戚风</a></li>
                                        <li><a href="/cake/">日式抹茶戚风</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4><a href="/cake/">芝士</a></h4>
                                    <ul>
                                        <li><a href="/cake/">日式芝士</a></li>
                                        <li><a href="/cake/">舒芙蕾芝士</a></li>
                                        <li><a href="/cake/">芒果芝士</a></li>
                                        <li><a href="/cake/">布朗冻芝士</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4><a href="/cake/">慕斯</a></h4>
                                    <ul>
                                        <li><a href="/cake/">绿茶慕斯</a></li>
                                        <li><a href="/cake/">草莓慕斯</a></li>
                                        <li><a href="/cake/">桑梅慕斯</a></li>
                                        <li><a href="/cake/">酸奶慕斯</a></li>
                                        <li><a href="/cake/">蔓越莓慕斯</a></li>
                                        <li><a href="/cake/">栗子啫喱慕斯</a></li>
                                        <li><a href="/cake/">OREO乳酪慕斯</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4><a href="/cake/">布丁</a></h4>
                                    <ul>
                                        <li><a href="/cake/">焦糖布丁</a></li>
                                        <li><a href="/cake/">巧克力布丁</a></li>
                                        <li><a href="/cake/">英式蒸糖布丁</a></li>
                                        <li><a href="/cake/">草莓布丁</a></li>
                                        <li><a href="/cake/">魔法布丁</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4><a href="/cake/">奶酪</a></h4>
                                    <ul>
                                        <li><a href="/cake/">轻乳酪</a></li>
                                        <li><a href="/cake/">草莓乳酪</a></li>
                                        <li><a href="/cake/">樱桃乳酪</a></li>
                                        <li><a href="/cake/">纽约重乳酪</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <img th:src="@{~/images/banner6.jpg}" alt=""/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col2"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                            <div class="col1"></div>
                        </div>
                    </div>
                </li>
                <li style="border: none;"><a class="color6" href="#">干点</a>
                    <div class="megapanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>饼干</h4>
                                    <ul>
                                        <li><a href="/cake/">曲奇</a></li>
                                        <li><a href="/cake/">苏打饼</a></li>
                                        <li><a href="/cake/">蔓越莓曲奇</a></li>
                                        <li><a href="/cake/">酥饼</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>西点</h4>
                                    <ul>
                                        <li><a href="/cake/">三明治</a></li>
                                        <li><a href="/cake/">帕尼尼</a></li>
                                        <li><a href="/cake/">蛋卷</a></li>
                                        <li><a href="/cake/">法棍</a></li>
                                        <li><a href="/cake/">可颂</a></li>
                                        <li><a href="/cake/">吐司</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li style="border: none;"><a class="color7" href="#">下午茶</a>
                    <div class="megapanel">
                        <div class="row">
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>奶茶</h4>
                                    <ul>
                                        <li><a href="/cake/">奶茶</a></li>
                                        <li><a href="/cake/">抹茶</a></li>
                                        <li><a href="/cake/">黄金珍奶</a></li>
                                        <li><a href="/cake/">芋圆珍奶</a></li>
                                        <li><a href="/cake/">台湾奶茶</a></li>
                                        <li><a href="/cake/">北海道札幌</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>鲜奶</h4>
                                    <ul>
                                        <li><a href="/cake/">阿萨姆鲜奶</a></li>
                                        <li><a href="/cake/">乌龙鲜奶</a></li>
                                        <li><a href="/cake/">抹茶绿鲜奶</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>玛奇朵</h4>
                                    <ul>
                                        <li><a href="/cake/">绿研茶王玛奇朵</a></li>
                                        <li><a href="/cake/">琥珀红玛奇朵</a></li>
                                        <li><a href="/cake/">金凤茶王玛奇朵</a></li>
                                        <li><a href="/cake/">碳焙乌龙玛奇朵</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col1">
                                <div class="h_nav">
                                    <h4>咖啡</h4>
                                    <ul>
                                        <li><a href="/cake/">招聘咖啡</a></li>
                                        <li><a href="/cake/">白胡子咖啡</a></li>
                                        <li><a href="/cake/">美式咖啡</a></li>
                                        <li><a href="/cake/">拿铁</a></li>
                                        <li><a href="/cake/">卡布奇诺</a></li>
                                        <li><a href="/cake/">太妃拿铁</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li style="border: none;"><a class="color10" th:href="@{/cake/allCake}">全部商品</a></li>
                <!--搜索框-->
                <li style="display: none;float: right;">
                    <div >
                        <ul>
                            <li>
                                <div class="nav_search">
                                    <input type="text" id="query" name="query" class="textbox" value="搜索商品" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '搜索商品';}">
                                    <input type="submit" value="Subscribe" id="submit" name="submit" onclick="searchProduct($('#query').val())">
                                    <!--<input type="submit" value="Subscribe" id="submit" name="submit" onclick="location.href=('/cake/searchProduct?name='+$('#query').val())">-->
                                    <div id="response"> </div>
                                </div>
                                <div class="clear"></div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <div class="clear"></div>
        </div>
    </div>
    <!--菜单栏结束-->
    <div class="login">
    <div class="wrap">
        <!--左侧分类栏-->
        <div class="rsidebar span_1_of_left" >
            <section class="sky-form">
                <h4>蛋糕</h4>
                <div class="row row1 scroll-pane" style="width: 243px;height: 150px;">
                    <div class="col col-4">
                        <label class="checkbox"><input id="defaultCheck" type="checkbox" name="11"
                                                       checked="true"
                                                       onclick="handleCategory(this.name,this.checked)"><i></i>戚风</label>
                    </div>
                    <div class="col col-4">
                        <label class="checkbox"><input type="checkbox" name="12"
                                                       checked="true"
                                                       onclick="handleCategory(this.name,this.checked)"><i></i>芝士</label>
                        <label class="checkbox"><input type="checkbox" name="13"
                                                       onclick="handleCategory(this.name,this.checked)"><i></i>慕斯</label>
                        <label class="checkbox"><input type="checkbox" name="14"
                                                       onclick="handleCategory(this.name,this.checked)"><i></i>布丁</label>
                        <label class="checkbox"><input type="checkbox" name="15"
                                                       onclick="handleCategory(this.name,this.checked)"><i></i>奶酪</label>
                    </div>
                </div>
                <h4>干点</h4>
                <div class="row row1 scroll-pane" style="width: 243px;height: 70px;">
                    <div class="col col-4">
                        <label class="checkbox"><input type="checkbox" name="21"
                                                       onclick="handleCategory(this.name,this.checked)"><i></i>饼干</label>
                        <label class="checkbox"><input type="checkbox" name="22"
                                                       onclick="handleCategory(this.name,this.checked)"><i></i>西点</label>
                    </div>
                </div>
                <h4>下午茶</h4>
                <div class="row row1 scroll-pane">
                    <div class="col col-4">
                        <label class="checkbox"><input type="checkbox" name="31"
                                                       onclick="handleCategory(this.name,this.checked)"><i></i>奶茶</label>
                        <label class="checkbox"><input type="checkbox" name="32"
                                                       onclick="handleCategory(this.name,this.checked)"><i></i>鲜奶</label>
                        <label class="checkbox"><input type="checkbox" name="33"
                                                       onclick="handleCategory(this.name,this.checked)"><i></i>玛奇朵</label>
                        <label class="checkbox"><input type="checkbox" name="34"
                                                       onclick="handleCategory(this.name,this.checked)"><i></i>咖啡</label>
                    </div>
                </div>
            </section>
        </div>
        <!--右侧商品详情-->
        <div class="cont span_2_of_3_verify">
            <!--商品详情-->
            <div id="productList" th:fragment="productList">
                <div th:if="${cakeList} ne null">
                    <div class="box1" th:each="cake : ${cakeList}">
                        <div class="prolist">
                            <ul>
                                <li class="clearfix">
                                    <div class="imgs">
                                        <a th:href="@{'/cake/single/'+${cake.id}}">
                                            <img th:src="@{'~/images/'+${cake.img}+'.jpg'}" alt="" width="200">
                                        </a>
                                    </div>
                                    <div class="infos">
                                        <h2>
                                            <a style="color:#555555;" th:text="${cake.name}" th:href="@{'/cake/single/'+${cake.id}}">
                                                Name
                                            </a>
                                        </h2>
                                        <div class="desc">
                                            草莓鲜芝士微甜细腻，伊斯尼淡奶油藏在鲜草莓身后，4809层酥皮、配搭清爽甜美的鲜草莓；层层美味，每一口都惊喜不断。顿时，弥漫唇齿之间……<br>Strawberry
                                            fresh cheese is slightly sweet and delicate, the cream is hidden behind the
                                            fresh
                                            strawberries, 4809 layers of crisp skin, with fresh and sweet fresh
                                            strawberries;
                                            The layers are delicious, each one pleasantly surprised. Suddenly, between
                                            the lips
                                            and teeth...
                                        </div>
                                        <div class="buy clearfix">
                                            <div class="btn_buy">
                                                <a th:href="@{'/cake/single/'+${cake.id}}">
                                                    <i class="fa  fa-cart-plus"></i>立即购买
                                                </a>
                                            </div>
                                            <div class="price" th:text="|￥${cake.price} / 磅|">￥248.00 / 1份</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div><!--单物品结尾标签-->
                </div>
            </div>

        </div>
        <div class="clear"></div>
    </div>
    </div>
<div th:replace="front/common/footer::html"></div>
<a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
</body>
</html>