<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Single</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link th:href="@{~/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{~/css/single.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{~/css/notyf.min.css}" rel="stylesheet" type="text/css" media="all"/> <!--notify通知插件-->
    <link th:href='@{http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800}' rel='stylesheet'
          type='text/css'>
    <script type="text/javascript" th:src="@{~/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{~/js/notyf.min.js}"></script>
    <!-- start menu -->
    <link th:href="@{~/css/megamenu.css}" rel="stylesheet" type="text/css" media="all"/>
    <script type="text/javascript" th:src="@{~/js/megamenu.js}"></script>
    <script>$(document).ready(function () {
        $(".megamenu").megamenu();
    });</script>
    <!-- end menu -->
    <script type="text/javascript" th:src="@{~/js/move-top.js}"></script>
</head>
<body style="background: #fff;">
<div th:replace="front/common/header::html"></div>
<div th:replace="front/common/category::html"></div>
    <div class="inside-box clearfix">
        <dl class="base-warp inside-dl">
            <dt>
                <!--大图-->
                <ul class="pho-tab js-pho-tab">
                    <li style="display: list-item;"><img style="width:100%;" alt=""  th:src="@{'~/images/'+${cake.img}+'.jpg'}"></li>
                    <li style="display: none;">
                        <img style="width:100%;" alt="" >
                    </li>
                    <li style="display: none;">
                        <img style="width:100%;" alt="" >
                    </li>
                </ul>
                <!--缩略图-->
                <ul class="pho-tac js-pho-tac">
                    <li class="pho-cur">
                        <img style="width:100%;" alt="" src="http://allcake.oss-cn-hangzhou.aliyuncs.com/system/products/pics/000/000/057/original/_DSC5987_%E5%89%AF%E6%9C%AC.jpg?1453114118">
                    </li>
                    <li class="">
                        <img style="width:100%;" alt="" src="http://allcake.oss-cn-hangzhou.aliyuncs.com/system/products/sub_pics/000/000/057/original/_DSC6017_%E5%89%AF%E6%9C%AC.jpg?1453114118">
                    </li>
                    <li class="">
                        <img style="width:100%;" alt="" src="http://allcake.oss-cn-hangzhou.aliyuncs.com/system/products/pic_thirds/000/000/057/original/_DSC6001_%E5%89%AF%E6%9C%AC.jpg?1453114118">
                    </li>
                </ul>
                <p class="inside-info">The cake is best served within 2-3 hours after receipt, most suitable for storage at 0 ° C ~ 8 ° C, and eat within 24 hours.
            </dt>
            <dd>
                <h5 class="inside-title" th:text="${cake.name}">
                    名称
                    <a th:text="${cake.category}">分类</a>
                </h5>
                <p class="inside-desc">描述...</p>
                <p class="inside-num">
                    <span>数量</span>
                    <input class="decre" onclick="decrement();" type="button">
                    <input id="quantity" class="count" type="text" value="1">
                    <input class="incre" onclick="increment();" type="button">
                </p>
                <p class="inside-price">
                    <span id="totalPrice" th:text="'￥'+${cake.price}"><i>￥</i>168.0</span>
                </p>
                <p class="inside-btn">
                    <a class="addcart" id="addToCart" href="javascript:void(0)">加入购物车</a>
                </p>
                <table cellpadding="0" cellspacing="0" width="420" border="0" class="inside-table">
                    <tbody>
                        <tr>
                            <td align="left" valign="top" width="40">材料</td>
                            <td align="left" valign="top" width="360">Anchor奶油、蒙牛、日清小麦粉、鸡蛋..</td>
                        </tr>
                        <tr>
                            <td align="left" valign="top" width="40">口味</td>
                            <td align="left" valign="top" width="360">香味浓郁，口感松软</td>
                        </tr>
                    </tbody>
                </table>
            </dd>
        </dl>
    </div>
    <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
<!--</div>-->
<div th:replace="front/common/footer::html"></div>
</body>
<script type="text/javascript">

    $('#addToCart').on('click', function(){
        let notyf = new Notyf();
        let isUser = [[${#httpServletRequest.remoteUser}]]+'';
        if (isUser === 0) {
            notyf.alert('您尚未登陆   2秒后跳转到登录页');
            setTimeout(function(){ window.location.href = '/cake/login'; }, 2000);
        }
        let id = [[${cake.id}]];
        let quantity = $('#quantity').val();
        $.post('/cart/addCart',
            {
                'cakeId': id,
                'quantity': quantity
            },
            function(data){
                let json = eval(data);
                $('#cartCount').html(' (' + json.count + ')');
                let notyf = new Notyf();
                notyf.confirm('加入购物车成功');
            });
    });

    $('#quantity').on('change', function(){
        if (this.value > 50) {
            this.value = 50;
        } else if (this.value <= 0) {
            this.value = 1;
        }
        sum();
    });

     sum = () => {
        let price = parseFloat([[${cake.price}]]);
        let quantity = parseFloat($('#quantity').val());
        let totalPrice = (price * quantity).toFixed(2);
        $('#totalPrice').html('￥'+totalPrice);
    };

    function increment() {
        let quantity = $("#quantity");
        let n = quantity.val();
        if (n <50) {
            n++;
            quantity.val(n);
        }
        sum();
    }


    function decrement() {
        let quantity = $("#quantity");
        let n = quantity.val();
        if (n !== undefined && n > 1 ) {
            n--;
            quantity.val(n);
        } else {
            quantity.val(1);
        }
        sum();
    }

</script>
</html>