<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Single</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link th:href="@{~/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{~/css/single.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{~/css/notyf.min.css}" rel="stylesheet" type="text/css" media="all"/> <!--notify通知插件-->
    <link th:href='@{http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800}' rel='stylesheet'
          type='text/css'>
    <script type="text/javascript" th:src="@{~/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{~/js/notyf.min.js}"></script>
    <!-- start menu -->
    <link th:href="@{~/css/megamenu.css}" rel="stylesheet" type="text/css" media="all"/>
    <script type="text/javascript" th:src="@{~/js/megamenu.js}"></script>
    <script>$(document).ready(function () {
        $(".megamenu").megamenu();
    });</script>
    <!-- end menu -->
    <script type="text/javascript" th:src="@{~/js/move-top.js}"></script>
</head>
<body style="background: #fff;">
<div th:replace="front/common/header::html"></div>
<div th:replace="front/common/category::html"></div>
    <div class="inside-box clearfix">
        <dl class="base-warp inside-dl">
            <dt>
                <!--大图-->
                <ul class="pho-tab js-pho-tab">
                    <li style="display: list-item;"><img style="width:100%;" alt=""  th:src="@{'~/images/'+${cake.img}+'.jpg'}"></li>
                    <li style="display: none;">
                        <img style="width:100%;" alt="" >
                    </li>
                    <li style="display: none;">
                        <img style="width:100%;" alt="" >
                    </li>
                </ul>
                <!--缩略图-->
                <ul class="pho-tac js-pho-tac">
                    <li class="pho-cur">
                        <img style="width:100%;" alt="" src="http://allcake.oss-cn-hangzhou.aliyuncs.com/system/products/pics/000/000/057/original/_DSC5987_%E5%89%AF%E6%9C%AC.jpg?1453114118">
                    </li>
                    <li class="">
                        <img style="width:100%;" alt="" src="http://allcake.oss-cn-hangzhou.aliyuncs.com/system/products/sub_pics/000/000/057/original/_DSC6017_%E5%89%AF%E6%9C%AC.jpg?1453114118">
                    </li>
                    <li class="">
                        <img style="width:100%;" alt="" src="http://allcake.oss-cn-hangzhou.aliyuncs.com/system/products/pic_thirds/000/000/057/original/_DSC6001_%E5%89%AF%E6%9C%AC.jpg?1453114118">
                    </li>
                </ul>
                <p class="inside-info">The cake is best served within 2-3 hours after receipt, most suitable for storage at 0 ° C ~ 8 ° C, and eat within 24 hours.
            </dt>
            <dd>
                <h5 class="inside-title" th:text="${cake.name}">
                    名称
                    <a href="/products?cat_id=2" th:text="${cake.category}">分类</a>
                </h5>
                <p class="inside-desc">这一刻未必喜欢，总有一天，无比想念</p>
                <p class="inside-num">
                    <span>数量</span>
                    <input class="incre" onclick="decrement();" type="button">
                    <input id="quantity" class="count" type="text" value="1">
                    <input class="decre" onclick="increment();" type="button">
                </p>
                <p class="inside-price">
                    <span id="items_discount_price" th:text="'￥'+${cake.price}"><i>￥</i>168.0</span>
                </p>
                <p class="inside-btn">
                    <a class="addcart" id="add_to_cart" href="javascript:void(0)">加入购物车</a>
                </p>
                <table cellpadding="0" cellspacing="0" width="420" border="0" class="inside-table">
                    <tbody><tr>
                        <td align="left" valign="top" width="40">原料</td>
                        <td align="left" valign="top" width="360">榴莲(泰国)、牛奶(新西兰)、巧克力(比利时)</td>
                    </tr>
                    <tr>
                        <td align="left" valign="top" width="40">口味</td>
                        <td align="left" valign="top" width="360">榴莲味浓郁，口感香醇</td>
                    </tr>
                    <tr>
                        <td align="left" valign="top" width="40">甜度</td>
                        <td align="left" valign="top" width="360">
                            <b></b>
                            <b></b>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </dd>
        </dl>
    </div>
    <a href="#" id="toTop" style="display: block;"><span id="toTopHover" style="opacity: 1;"></span></a>
<!--</div>-->
<div th:replace="front/common/footer::html"></div>
</body>
<script type="text/javascript">

    $('#add_to_cart').on('click', function(){
        var id = [[${cake.id}]];
        var quantity = $('#quantity').val();
        $.post('/cart/addCart',
            {
                'cakeId': id,
                'quantity': quantity
            },
            function(data){
                var json = eval(data);
                $('#cartCount').html(' (' + json.count + ')');
                var notyf = new Notyf();
                notyf.confirm('加入购物车成功');
            });
    });

    $('#quantity').on('change', function(){
        sum();
    });

     sum = () => {
        let sku = $('.current');
        let price = parseFloat(sku.data('price'));
        let quantity = parseFloat($('#quantity').val());
        let items_sum_discount_price = (price * quantity).toFixed(1);
        $('#items_discount_price').html('<i>￥</i>'+items_sum_discount_price);
    };
    $('.product').on('click', function(){
        $(".product").removeClass("current");
        $(this).addClass("current");
        sum();
    });
    function increment(e) {
        if (e) {
            var t = $("#quantity" + e);
        } else {
            var t = $("#quantity");
        }
        var n = t.val();
        n < 99 && (n++, t.val(n), e && $.post("/cake/", {item_id: e}, function (t) {
            $(".item_sum" + e).html("\uffe5" + t.item_sum), $(".checkbox" + e).attr("data-sum", t.item_sum), $(".checkbox" + e).attr("originalSum", t.item_originsum), calculate()
        }), t.trigger("change"))
    }

    function calculate() {
        var e = $(".cartListItems .checkboxed"), t = 0, n = 0;
        $.each(e, function (e, i) {
            t += parseFloat($(i).attr("data-sum")), n += parseFloat($(i).attr("originalSum"))
        }), $(".items_total_price").html("\uffe5" + t), $(".items_total_origin_price").html("\u539f\u4ef7" + n + "\u5143"), $(".items_count").html("\u5df2\u9009\u62e9" + e.length + "\u6b3e\u4ea7\u54c1")
    }

    function decrement(e) {
        if (e) var t = $("#quantity" + e); else var t = $("#quantity");
        var n = t.val();
        n > 1 && (n--, t.val(n), e && $.post("/cake/", {item_id: e}, function (t) {
            $(".item_sum" + e).html("\uffe5" + t.item_sum), $(".checkbox" + e).attr("data-sum", t.item_sum), $(".checkbox" + e).attr("originalSum", t.item_originsum), calculate()
        }), t.trigger("change"))
    }

</script>
</html>