<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jesse.onecake.mapper.CakeOrderMapper">
  <resultMap id="BaseResultMap" type="com.jesse.onecake.entity.CakeOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="receive_status" jdbcType="VARCHAR" property="receiveStatus" />
    <result column="sure_id" jdbcType="VARCHAR" property="sureId" />
    <result column="sure_user" jdbcType="VARCHAR" property="sureUser" />
    <result column="sure_time" jdbcType="TIMESTAMP" property="sureTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

</mapper>