<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jesse.onecake.mapper.CartMapper" >
  <resultMap id="BaseResultMap" type="com.jesse.onecake.entity.Cart" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="findCartByUserId" parameterType="String" resultMap="BaseResultMap">
    SELECT
    *
    FROM
    cart c
    WHERE 1 = 1
    <if test="userId != null and userId != ''">
      AND c.user_id = #{userId}
    </if>

  </select>
</mapper>