<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jesse.onecake.mapper.CartDetailMapper" >
  <resultMap id="BaseResultMap" type="com.jesse.onecake.entity.CartDetail" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="cart_id" property="cartId" jdbcType="VARCHAR" />
    <result column="cake_id" property="cakeId" jdbcType="VARCHAR" />
    <result column="quantity" property="quantity" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>

  <select id="selectCartDetailByUserId" parameterType="String" resultMap="BaseResultMap">
    SELECT
    cd.*
    FROM
    cart c ,cart_detail cd
    WHERE c.id = cd.cart_id
    <if test="userId != null and userId != ''">
      AND c.user_id = #{userId}
    </if>

  </select>

  <select id="selectCountCartDetailByUserId" parameterType="String" resultType="Integer">
    select count(1)
    from cart_detail cd,cart c
    where cd.cart_id = c.id
    <if test="userId != null and userId != ''">
      AND c.user_id = #{userId}
    </if>

  </select>

  <select id="selectCartDetailByUserName" parameterType="String" resultMap="BaseResultMap">
    select cd.*
    from cart_detail cd,cart c
    where cd.cart_id = c.id
    <if test="username != null and username != ''">
      AND c.create_user = #{username}
    </if>

  </select>
</mapper>