<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="header-bottom">
    <div class="wrap">
        <!-- start header menu -->
        <ul class="megamenu skyblue">
            <li><a class="color3" href="/cake/">首页</a></li>
            <li class="active grid"><a class="color2" href="#">蛋糕</a>
                <div class="megapanel">
                    <div class="row">
                        <div class="col1">
                            <div class="h_nav">
                                <h4><a href="/cake/">戚风</a></h4>
                                <ul>
                                    <li><a href="/cake/">原味戚风</a></li>
                                    <li><a href="/cake/">北海道戚风</a></li>
                                    <li><a href="/cake/">阿妮塔戚风</a></li>
                                    <li><a href="/cake/">低油戚风</a></li>
                                    <li><a href="/cake/">日式抹茶戚风</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4><a href="/cake/">芝士</a></h4>
                                <ul>
                                    <li><a href="/cake/">日式芝士</a></li>
                                    <li><a href="/cake/">舒芙蕾芝士</a></li>
                                    <li><a href="/cake/">芒果芝士</a></li>
                                    <li><a href="/cake/">布朗冻芝士</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4><a href="/cake/">慕斯</a></h4>
                                <ul>
                                    <li><a href="/cake/">绿茶慕斯</a></li>
                                    <li><a href="/cake/">草莓慕斯</a></li>
                                    <li><a href="/cake/">桑梅慕斯</a></li>
                                    <li><a href="/cake/">酸奶慕斯</a></li>
                                    <li><a href="/cake/">蔓越莓慕斯</a></li>
                                    <li><a href="/cake/">栗子啫喱慕斯</a></li>
                                    <li><a href="/cake/">OREO乳酪慕斯</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4><a href="/cake/">布丁</a></h4>
                                <ul>
                                    <li><a href="/cake/">焦糖布丁</a></li>
                                    <li><a href="/cake/">巧克力布丁</a></li>
                                    <li><a href="/cake/">英式蒸糖布丁</a></li>
                                    <li><a href="/cake/">草莓布丁</a></li>
                                    <li><a href="/cake/">魔法布丁</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4><a href="/cake/">奶酪</a></h4>
                                <ul>
                                    <li><a href="/cake/">轻乳酪</a></li>
                                    <li><a href="/cake/">草莓乳酪</a></li>
                                    <li><a href="/cake/">樱桃乳酪</a></li>
                                    <li><a href="/cake/">纽约重乳酪</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <img th:src="@{~/images/banner6.jpg}" alt=""/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col2"></div>
                        <div class="col1"></div>
                        <div class="col1"></div>
                        <div class="col1"></div>
                        <div class="col1"></div>
                    </div>
                </div>
            </li>
            <li><a class="color6" href="#">干点</a>
                <div class="megapanel">
                    <div class="row">
                        <div class="col1">
                            <div class="h_nav">
                                <h4>饼干</h4>
                                <ul>
                                    <li><a href="/cake/">曲奇</a></li>
                                    <li><a href="/cake/">苏打饼</a></li>
                                    <li><a href="/cake/">蔓越莓曲奇</a></li>
                                    <li><a href="/cake/">酥饼</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4>西点</h4>
                                <ul>
                                    <li><a href="/cake/">三明治</a></li>
                                    <li><a href="/cake/">帕尼尼</a></li>
                                    <li><a href="/cake/">蛋卷</a></li>
                                    <li><a href="/cake/">法棍</a></li>
                                    <li><a href="/cake/">可颂</a></li>
                                    <li><a href="/cake/">吐司</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li><a class="color7" href="#">下午茶</a>
                <div class="megapanel">
                    <div class="row">
                        <div class="col1">
                            <div class="h_nav">
                                <h4>奶茶</h4>
                                <ul>
                                    <li><a href="/cake/">奶茶</a></li>
                                    <li><a href="/cake/">抹茶</a></li>
                                    <li><a href="/cake/">黄金珍奶</a></li>
                                    <li><a href="/cake/">芋圆珍奶</a></li>
                                    <li><a href="/cake/">台湾奶茶</a></li>
                                    <li><a href="/cake/">北海道札幌</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4>鲜奶</h4>
                                <ul>
                                    <li><a href="/cake/">阿萨姆鲜奶</a></li>
                                    <li><a href="/cake/">乌龙鲜奶</a></li>
                                    <li><a href="/cake/">抹茶绿鲜奶</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4>玛奇朵</h4>
                                <ul>
                                    <li><a href="/cake/">绿研茶王玛奇朵</a></li>
                                    <li><a href="/cake/">琥珀红玛奇朵</a></li>
                                    <li><a href="/cake/">金凤茶王玛奇朵</a></li>
                                    <li><a href="/cake/">碳焙乌龙玛奇朵</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4>咖啡</h4>
                                <ul>
                                    <li><a href="/cake/">招聘咖啡</a></li>
                                    <li><a href="/cake/">白胡子咖啡</a></li>
                                    <li><a href="/cake/">美式咖啡</a></li>
                                    <li><a href="/cake/">拿铁</a></li>
                                    <li><a href="/cake/">卡布奇诺</a></li>
                                    <li><a href="/cake/">太妃拿铁</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li><a class="color10" href="/cake/allCake">全部商品</a></li>
            <!--搜索框-->
            <li style="float: right;">
                <div >
                    <ul>
                        <li>
                            <div class="nav_search">
                                <input type="text" id="query" name="query" class="textbox" value="搜索商品" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '搜索商品';}">
                                <input type="submit" value="Subscribe" id="submit" name="submit" onclick="searchProduct($('#query').val())">
                                <div id="response"> </div>
                            </div>
                            <div class="clear"></div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
</body>
</html>


