<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="header-bottom">
    <div class="wrap">
        <!-- start header menu -->
        <ul class="megamenu skyblue">
            <li><a class="color1" href="index.html">首页</a></li>
            <li class="grid"><a class="color2" href="#">戚风</a>
                <div class="megapanel">
                    <div class="row">
                        <div class="col1">
                            <div class="h_nav">
                                <h4>戚风</h4>
                                <ul>
                                    <li><a href="/cake/">new arrivals</a></li>
                                    <li><a href="/cake/">men</a></li>
                                    <li><a href="/cake/">women</a></li>
                                    <li><a href="/cake/">accessories</a></li>
                                    <li><a href="/cake/">kids</a></li>
                                    <li><a href="/cake/">login</a></li>
                                </ul>
                            </div>
                            <div class="h_nav">
                                <h4 class="top">芝士</h4>
                                <ul>
                                    <li><a href="/cake/">new arrivals</a></li>
                                    <li><a href="/cake/">men</a></li>
                                    <li><a href="/cake/">women</a></li>
                                    <li><a href="/cake/">accessories</a></li>
                                    <li><a href="/cake/">kids</a></li>
                                    <li><a href="/cake/">style videos</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4>style zone</h4>
                                <ul>
                                    <li><a href="/cake/">men</a></li>
                                    <li><a href="/cake/">women</a></li>
                                    <li><a href="/cake/">accessories</a></li>
                                    <li><a href="/cake/">kids</a></li>
                                    <li><a href="/cake/">brands</a></li>
                                </ul>
                            </div>
                        </div>
                        <img th:src="@{~/images/cake7.jpg}" alt=""/>
                    </div>
                </div>
            </li>
            <li class="active grid"><a class="color4" href="#">芝士</a>
                <div class="megapanel">
                    <div class="row">
                        <div class="col1">
                            <div class="h_nav">
                                <h4>shop</h4>
                                <ul>
                                    <li><a href="/cake/">new arrivals</a></li>
                                    <li><a href="/cake/">men</a></li>
                                    <li><a href="/cake/">women</a></li>
                                    <li><a href="/cake/">accessories</a></li>
                                    <li><a href="/cake/">kids</a></li>
                                    <li><a href="/cake/">brands</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4>help</h4>
                                <ul>
                                    <li><a href="/cake/">trends</a></li>
                                    <li><a href="/cake/">sale</a></li>
                                    <li><a href="/cake/">style videos</a></li>
                                    <li><a href="/cake/">accessories</a></li>
                                    <li><a href="/cake/">kids</a></li>
                                    <li><a href="/cake/">style videos</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4>my company</h4>
                                <ul>
                                    <li><a href="/cake/">trends</a></li>
                                    <li><a href="/cake/">sale</a></li>
                                    <li><a href="/cake/">style videos</a></li>
                                    <li><a href="/cake/">accessories</a></li>
                                    <li><a href="/cake/">kids</a></li>
                                    <li><a href="/cake/">style videos</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4>account</h4>
                                <ul>
                                    <li><a href="/cake/">login</a></li>
                                    <li><a href="/cake/">create an account</a></li>
                                    <li><a href="/cake/">create wishlist</a></li>
                                    <li><a href="/cake/">my shopping bag</a></li>
                                    <li><a href="/cake/">brands</a></li>
                                    <li><a href="/cake/">create wishlist</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4>popular</h4>
                                <ul>
                                    <li><a href="/cake/">new arrivals</a></li>
                                    <li><a href="/cake/">men</a></li>
                                    <li><a href="/cake/">women</a></li>
                                    <li><a href="/cake/">accessories</a></li>
                                    <li><a href="/cake/">kids</a></li>
                                    <li><a href="/cake/">style videos</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <img th:src="@{~/images/nav_img1.jpg}" alt=""/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col2"></div>
                        <div class="col1"></div>
                        <div class="col1"></div>
                        <div class="col1"></div>
                        <div class="col1"></div>
                    </div>
                </div>
            </li>
            <li><a class="color5" href="#">慕斯</a>
                <div class="megapanel">
                    <div class="row">
                        <div class="col1">
                            <div class="h_nav">
                                <h4>popular</h4>
                                <ul>
                                    <li><a href="/cake/">new arrivals</a></li>
                                    <li><a href="/cake/">men</a></li>
                                    <li><a href="/cake/">women</a></li>
                                    <li><a href="/cake/">accessories</a></li>
                                    <li><a href="/cake/">kids</a></li>
                                    <li><a href="/cake/">login</a></li>
                                </ul>
                            </div>
                            <div class="h_nav">
                                <h4 class="top">man</h4>
                                <ul>
                                    <li><a href="/cake/">new arrivals</a></li>
                                    <li><a href="/cake/">men</a></li>
                                    <li><a href="/cake/">women</a></li>
                                    <li><a href="/cake/">accessories</a></li>
                                    <li><a href="/cake/">kids</a></li>
                                    <li><a href="/cake/">style videos</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4>style zone</h4>
                                <ul>
                                    <li><a href="/cake/">men</a></li>
                                    <li><a href="/cake/">women</a></li>
                                    <li><a href="/cake/">accessories</a></li>
                                    <li><a href="/cake/">kids</a></li>
                                    <li><a href="/cake/">brands</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1"></div>
                        <div class="col1"></div>
                        <div class="col1"></div>
                        <div class="col1"></div>
                        <img th:src="@{~/images/nav_img2.jpg}" alt=""/>
                    </div>
                </div>
            </li>
            <li><a class="color5" href="#">乳脂</a>
                <div class="megapanel">
                    <div class="row">
                        <div class="col1">
                            <div class="h_nav">
                                <h4>popular</h4>
                                <ul>
                                    <li><a href="/cake/">new arrivals</a></li>
                                    <li><a href="/cake/">men</a></li>
                                    <li><a href="/cake/">women</a></li>
                                    <li><a href="/cake/">accessories</a></li>
                                    <li><a href="/cake/">kids</a></li>
                                    <li><a href="/cake/">login</a></li>
                                </ul>
                            </div>
                            <div class="h_nav">
                                <h4 class="top">man</h4>
                                <ul>
                                    <li><a href="/cake/">new arrivals</a></li>
                                    <li><a href="/cake/">men</a></li>
                                    <li><a href="/cake/">women</a></li>
                                    <li><a href="/cake/">accessories</a></li>
                                    <li><a href="/cake/">kids</a></li>
                                    <li><a href="/cake/">style videos</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4>style zone</h4>
                                <ul>
                                    <li><a href="/cake/">men</a></li>
                                    <li><a href="/cake/">women</a></li>
                                    <li><a href="/cake/">accessories</a></li>
                                    <li><a href="/cake/">kids</a></li>
                                    <li><a href="/cake/">brands</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1"></div>
                        <div class="col1"></div>
                        <div class="col1"></div>
                        <div class="col1"></div>
                        <img th:src="@{~/images/nav_img2.jpg}" alt=""/>
                    </div>
                </div>
            </li>
            <li><a class="color5" href="#">海绵</a>
                <div class="megapanel">
                    <div class="row">
                        <div class="col1">
                            <div class="h_nav">
                                <h4>popular</h4>
                                <ul>
                                    <li><a href="/cake/">new arrivals</a></li>
                                    <li><a href="/cake/">men</a></li>
                                    <li><a href="/cake/">women</a></li>
                                    <li><a href="/cake/">accessories</a></li>
                                    <li><a href="/cake/">kids</a></li>
                                    <li><a href="/cake/">login</a></li>
                                </ul>
                            </div>
                            <div class="h_nav">
                                <h4 class="top">man</h4>
                                <ul>
                                    <li><a href="/cake/">new arrivals</a></li>
                                    <li><a href="/cake/">men</a></li>
                                    <li><a href="/cake/">women</a></li>
                                    <li><a href="/cake/">accessories</a></li>
                                    <li><a href="/cake/">kids</a></li>
                                    <li><a href="/cake/">style videos</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4>style zone</h4>
                                <ul>
                                    <li><a href="/cake/">men</a></li>
                                    <li><a href="/cake/">women</a></li>
                                    <li><a href="/cake/">accessories</a></li>
                                    <li><a href="/cake/">kids</a></li>
                                    <li><a href="/cake/">brands</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1"></div>
                        <div class="col1"></div>
                        <div class="col1"></div>
                        <div class="col1"></div>
                        <img th:src="@{~/images/nav_img2.jpg}" alt=""/>
                    </div>
                </div>
            </li>
            <li><a class="color5" href="#">下午茶甜点</a>
                <div class="megapanel">
                    <div class="row">
                        <div class="col1">
                            <div class="h_nav">
                                <h4>popular</h4>
                                <ul>
                                    <li><a href="/cake/">new arrivals</a></li>
                                    <li><a href="/cake/">men</a></li>
                                    <li><a href="/cake/">women</a></li>
                                    <li><a href="/cake/">accessories</a></li>
                                    <li><a href="/cake/">kids</a></li>
                                    <li><a href="/cake/">login</a></li>
                                </ul>
                            </div>
                            <div class="h_nav">
                                <h4 class="top">man</h4>
                                <ul>
                                    <li><a href="/cake/">new arrivals</a></li>
                                    <li><a href="/cake/">men</a></li>
                                    <li><a href="/cake/">women</a></li>
                                    <li><a href="/cake/">accessories</a></li>
                                    <li><a href="/cake/">kids</a></li>
                                    <li><a href="/cake/">style videos</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4>style zone</h4>
                                <ul>
                                    <li><a href="/cake/">men</a></li>
                                    <li><a href="/cake/">women</a></li>
                                    <li><a href="/cake/">accessories</a></li>
                                    <li><a href="/cake/">kids</a></li>
                                    <li><a href="/cake/">brands</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1"></div>
                        <div class="col1"></div>
                        <div class="col1"></div>
                        <div class="col1"></div>
                        <img th:src="@{~/images/nav_img2.jpg}" alt=""/>
                    </div>
                </div>
            </li>
            <li><a class="color6" href="#">饮品</a>
                <div class="megapanel">
                    <div class="row">
                        <div class="col1">
                            <div class="h_nav">
                                <h4>shop</h4>
                                <ul>
                                    <li><a href="/cake/">new arrivals</a></li>
                                    <li><a href="/cake/">men</a></li>
                                    <li><a href="/cake/">women</a></li>
                                    <li><a href="/cake/">accessories</a></li>
                                    <li><a href="/cake/">kids</a></li>
                                    <li><a href="/cake/">brands</a></li>
                                </ul>
                            </div>
                            <div class="h_nav">
                                <h4 class="top">my company</h4>
                                <ul>
                                    <li><a href="/cake/">trends</a></li>
                                    <li><a href="/cake/">sale</a></li>
                                    <li><a href="/cake/">style videos</a></li>
                                    <li><a href="/cake/">accessories</a></li>
                                    <li><a href="/cake/">kids</a></li>
                                    <li><a href="/cake/">style videos</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4>man</h4>
                                <ul>
                                    <li><a href="/cake/">new arrivals</a></li>
                                    <li><a href="/cake/">men</a></li>
                                    <li><a href="/cake/">women</a></li>
                                    <li><a href="/cake/">accessories</a></li>
                                    <li><a href="/cake/">kids</a></li>
                                    <li><a href="/cake/">style videos</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4>help</h4>
                                <ul>
                                    <li><a href="/cake/">trends</a></li>
                                    <li><a href="/cake/">sale</a></li>
                                    <li><a href="/cake/">style videos</a></li>
                                    <li><a href="/cake/">accessories</a></li>
                                    <li><a href="/cake/">kids</a></li>
                                    <li><a href="/cake/">style videos</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4>account</h4>
                                <ul>
                                    <li><a href="/cake/">login</a></li>
                                    <li><a href="/cake/">create an account</a></li>
                                    <li><a href="/cake/">create wishlist</a></li>
                                    <li><a href="/cake/">my shopping bag</a></li>
                                    <li><a href="/cake/">brands</a></li>
                                    <li><a href="/cake/">create wishlist</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4>my company</h4>
                                <ul>
                                    <li><a href="/cake/">trends</a></li>
                                    <li><a href="/cake/">sale</a></li>
                                    <li><a href="/cake/">style videos</a></li>
                                    <li><a href="/cake/">accessories</a></li>
                                    <li><a href="/cake/">kids</a></li>
                                    <li><a href="/cake/">style videos</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col1">
                            <div class="h_nav">
                                <h4>popular</h4>
                                <ul>
                                    <li><a href="/cake/">new arrivals</a></li>
                                    <li><a href="/cake/">men</a></li>
                                    <li><a href="/cake/">women</a></li>
                                    <li><a href="/cake/">accessories</a></li>
                                    <li><a href="/cake/">kids</a></li>
                                    <li><a href="/cake/">style videos</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col2"></div>
                        <div class="col1"></div>
                        <div class="col1"></div>
                        <div class="col1"></div>
                        <div class="col1"></div>
                    </div>
                </div>
            </li>
            <li style="float: right;">
                <div >
                    <ul>
                        <li>
                            <div class="nav_search">
                                <input type="text" name="query" class="textbox" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                                <input type="submit" value="Subscribe" id="submit" name="submit">
                                <div id="response"> </div>
                            </div><div class="clear"></div>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="clear"></div>
    </div>
</div>
</body>
</html>


