<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="footer">
    <div class="footer-top">
        <div class="wrap">
            <div class="col_1_of_footer-top span_1_of_footer-top">
                <ul class="f_list">
                    <li><img th:src="@{~/images/f_icon.png}" alt=""/><span class="delivery">Free delivery on all orders over £100*</span></li>
                </ul>
            </div>
            <div class="col_1_of_footer-top span_1_of_footer-top">
                <ul class="f_list">
                    <li><img th:src="@{~/images/f_icon1.png}" alt=""/><span class="delivery">Customer Service :<span class="pink"> (800) 000-2587 (freephone)</span></span></li>
                </ul>
            </div>
            <div class="col_1_of_footer-top span_1_of_footer-top">
                <ul class="f_list">
                    <li><img th:src="@{~/images/f_icon2.png}" alt=""/><span class="delivery">Fast delivery & free returns</span></li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="footer-middle">
        <div class="wrap">

        </div>
    </div>

        <div class="footer-bottom">
            <div class="wrap">
                <div class="section group">
                    <div class="col_1_of_5 span_1_of_5">
                        <h3 class="m_9">需要帮助</h3>
                        <ul class="sub_list">
                            <li><a href="shop.html">联系我们</a></li>
                            <li><a href="shop.html">常见问题</a></li>
                        </ul>
                    </div>
                    <div class="col_1_of_5 span_1_of_5">
                        <h3 class="m_9">OneCake</h3>
                        <ul class="list1">
                            <li><a href="shop.html">OneCake由来</a></li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    <div class="copy">
        <div class="wrap">
            <p>Copyright &copy; 2014.<a href="http://www.cssmoban.com/" target="_blank" title="模板之家">OneCake</a> All rights reserved.</p>
        </div>
    </div>
</div>
</body>
</html>