<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="header-top">
    <div class="wrap">
        <div class="logo" style="height: 40px;width: 200px">
            <a href="/cake/"><img th:src="@{~/images/logo_girl.png}" alt=""/></a>
        </div>
        <div class="cssmenu">
            <ul>
                <li class="active">
                <li><a class="color3" href="login.html" th:text="${host}">注册/登陆</a></li>
                <li><a class="color4" th:href="@{/cake/login}">注册/登陆</a></li>
                <li><a class="color5" href="/cake/checkout">购物车</a></li>
                <li><a class="color6" href="/cake/allCake">全部商品</a></li>
                <li><a class="color7" href="shop.html">我的订单</a></li>
                <li><a class="color8" href="shop.html">个人中心</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>

</body>
</html>