<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="left-sidebar">
    <!-- 用户信息 -->
    <div class="tpl-sidebar-user-panel">
        <div class="tpl-user-panel-slide-toggleable">
            <div class="tpl-user-panel-profile-picture">
                <img src="/assets/img/user02.png" alt="">
            </div>
            <span class="user-panel-logged-in-text">
              <i class="am-icon-circle-o am-text-success tpl-user-panel-status-icon"></i>
              [[${#httpServletRequest.remoteUser}]]
          </span>
            <a href="javascript:;" class="tpl-user-panel-action-link"> <span class="am-icon-pencil"></span> 账号设置</a>
        </div>
    </div>

    <!-- 左侧菜单栏 -->
    <ul class="sidebar-nav">
        <!--<li class="sidebar-nav-heading">Components <span class="sidebar-nav-heading-info"> 附加组件</span></li>-->
        <li class="sidebar-nav-link">
            <a href="/manage/" class="active">
                <i class="am-icon-home sidebar-nav-link-logo"></i> 首页
            </a>
        </li>
        <li class="sidebar-nav-link">
            <a href="/manage/order-manage" class="active">
                <i class="am-icon-first-order sidebar-nav-link-logo"></i> 订单管理
            </a>
        </li>
        <li class="sidebar-nav-link">
            <a href="/manage/user-manage" class="sidebar-nav-sub-title">
                <i class="am-icon-wpbeginner sidebar-nav-link-logo"></i> 会员管理
            </a>
        </li>
        <li class="sidebar-nav-link">
            <a href="javascript:;" class="sidebar-nav-sub-title">
                <i class="am-icon-building-o sidebar-nav-link-logo"></i> 商品管理
                <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
            </a>
            <ul class="sidebar-nav sidebar-nav-sub">
                <li class="sidebar-nav-link">
                    <a href="/manage/product-manage">
                        <span class="am-icon-caret-right sidebar-nav-link-logo"></span> 商品列表
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="/manage/table-list">
                        <span class="am-icon-caret-right sidebar-nav-link-logo"></span> 商品分类
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="/manage/error">
                        <span class="am-icon-caret-right sidebar-nav-link-logo"></span> 库存管理
                    </a>
                </li>
            </ul>
        </li>
        <li class="sidebar-nav-link">
            <a href="javascript:;" class="sidebar-nav-sub-title">
                <i class="am-icon-table sidebar-nav-link-logo"></i> 数据分析
                <span class="am-icon-chevron-down am-fr am-margin-right-sm sidebar-nav-sub-ico"></span>
            </a>
            <ul class="sidebar-nav sidebar-nav-sub">
                <li class="sidebar-nav-link">
                    <a href="/manage/chart">
                        <span class="am-icon-caret-right sidebar-nav-link-logo"></span> 月销售统计
                    </a>
                </li>
                <li class="sidebar-nav-link">
                    <a href="/manage/chart">
                        <span class="am-icon-caret-right sidebar-nav-link-logo"></span> 年度统计
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
</body>
</html>